.page_con {
  display: flex;
  justify-content: center;
}
.page_con a {
  color: black;
  float: left;
  font-size: 15px;
  padding: 6px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.page_con a.active,
.page_con a:hover:not(.active) {
  background-color: rgb(252, 185, 29);
}

.page_con a.active {
  background-color: rgb(164,0,1);
  color: rgb(252, 252, 252);
  border: 1px solid rgb(164,0,1);
}