.Log-box {
 display: flex;
 justify-content: center;
}
.Log-in-Container {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.login-Header {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.ID-number-input, .Email-input {
 display: block;
 width: 300px;
 padding: 10px;
 margin-bottom: 10px;
 font-size: 15px;
 border-radius: 10px;
 border: 2px solid rgb(164,0,1);
 background-color: transparent;
 color: rgb(72, 71, 71);
}
.ID-number-input:focus {
  outline: none;
}
.ID-number-input::placeholder {
 color: rgb(72, 71, 71);
}
.Password-input {
  display: block;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid rgb(164,0,1);
  background-color: transparent;
  color: rgb(72, 71, 71);
}
.Password-input:focus {
  outline: none;
}
.Password-input::placeholder {
  color: rgb(72, 71, 71);
}
.Login-button {
  display: block;
  font-size: 15px;
  padding: 10px 18px 10px 18px ;
  border-radius: 20px;
  border: 2px solid rgb(164,0,1);
  color: rgb(164,0,1);
  background-color: transparent;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}
.Login-button:hover {
  background-color: rgb(164,0,1);
  color: whitesmoke;
}
.Forgot-password-button {
  color: black;
  font-size: 13px;
  font-weight: lighter;
  cursor: pointer;
}
.Forgot-password-button:hover {
  text-decoration: underline;
  color: rgb(164,0,1);
}
.Signin-con {
  margin: 20px 0 10px 0;
  font-size: 12px;
  
}
.Signin {
  color: rgb(15, 14, 14);
  text-decoration: none;
  cursor: pointer;
}
.Signin:hover {
  text-decoration: underline;
  color: rgb(164,0,1);
}
.shownhide {
  width: 23px;
  position: absolute;
  right: 70px;
  top: 173px;
}